.chart{
	position:relative;
	margin:0 auto;
	width:1024px;
	height:731px;
	opacity:1;
	background: url('../img/graph-content.png') no-repeat top 38px center;
	background-size: 1024px auto;
}

.y-axis{
	position:absolute;
	text-align:center;
	left:118px;
	font-family: Arial;
	font-size:20px;
	color:#fff;
	line-height:20px;
	height:20px;
	width: 35px;
}
[data-axisid="1"]{
	top:567px;
}
[data-axisid="2"]{
	top:488px;
}
[data-axisid="3"]{
	top:409px;
}
[data-axisid="4"]{
	top:330px;
}
[data-axisid="5"]{
	top:255px;
}
canvas{
	position:absolute;
	width:700px;
	height:450px;
	top:218px;
	left:162px;
}
.label{
	position:absolute;
	width:114px;
	height:35px;
	opacity:0;
	z-index:5;
}
.ans1{
	background: url('../img/ans-1-label.png') no-repeat center center;
	background-size: 114px auto;
}
.ans2{
	background: url('../img/ans-2-label.png') no-repeat center center;
	background-size: 114px auto;
}
.ans3{
	background: url('../img/ans-3-label.png') no-repeat center center;
	background-size: 114px auto;
}