
#animation3{
	background: url('../img/bar-chart-example.jpg') no-repeat left bottom;
	background-size: 1220px auto;
	width:1220px;
	height:892px;
	margin:0 auto;
	position:relative;
}

.chart-3{
	position:absolute;
	bottom:93px;
	width:100px;
}

.chart-3-1{
	left:187px;
	background: url('../img/ole-chart-1.png') no-repeat left bottom;
	background-size: 100px auto;
}
.chart-3-2{
	left:338px;
	background: url('../img/ole-chart-2.png') no-repeat left bottom;
	background-size: 100px auto;
}
.chart-3-3{
	left:502px;
	background: url('../img/ole-chart-3.png') no-repeat left bottom;
	background-size: 100px auto;
}
.chart-3-4{
	left:659px;
	background: url('../img/ole-chart-4.png') no-repeat left bottom;
	background-size: 100px auto;
}
.chart-3-5{
	left:816px;
	background: url('../img/ole-chart-5.png') no-repeat left bottom;
	background-size: 100px auto;
}
.chart-3-6{
	left:972px;
	background: url('../img/ole-chart-6.png') no-repeat left bottom;
	background-size: 100px auto;
}